body {
    font-family: Arial, sans-serif;
    text-align: center;
     background: linear-gradient(45deg, #ff9a9e, #fad0c4, #ffdde1, #fbc2eb, #a1c4fd, #c2e9fb);
    background-size: 400% 400%;
    background-attachment: fixed;
    animation: gradientAnimation 10s ease infinite;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: lighten;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    margin-top: 50px;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.themes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.theme {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.math {
    background-color: #ffcc00;
    color: #333;
}

.science {
    background-color: #4caf50;
    color: white;
}

.history {
    background-color: #2196f3;
    color: white;
}

.theme:hover {
    transform: scale(1.1);
}

